<footer class="footer dark-grey text-center text-white">
    <div class="container p-4">
        <section class="">
            <div class="row">

                <div class="media-area">
                    <div class="media-link-container">
                        <div class="media-link">
                            <a href="http://www.facebook.com/UniofAkl"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="http://twitter.com/AucklandUni"><i class="fa-brands fa-twitter"></i></a>
                            <a href="http://www.youtube.com/user/UNIofAUCKLAND"><i class="fa-brands fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/company/the-university-of-auckland"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                            <a href="http://instagram.com/universityofauckland"><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.auckland.ac.nz/en/about/the-university/uoa-contact-us/connect-with-the-university-of-auckland.html"><i
                                    class="fa-solid fa-ellipsis"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 list-links">
                    <h5 class="footer-title">Explore</h5>
                    <ul class="list-unstyled mb-0 footer-links border-right">
                        <li>
                            <a href="https://www.auckland.ac.nz/en/about/the-university.html"
                               class="text-white footer-link">About the University</a>
                        </li>
                        <li>
                            <a href="https://www.auckland.ac.nz/en/about/the-university/how-university-works/campuses-locations-transport/faculties-institutes-campuses.html"
                               class="text-white footer-link">Our faculties and institutes</a>
                        </li>
                        <li>
                            <a href="https://www.auckland.ac.nz/en/about/research.html" class="text-white footer-link">About
                                our research</a>
                        </li>
                        <li>
                            <a href="https://www.auckland.ac.nz/en/about/the-university/how-university-works/campuses-locations-transport.html"
                               class="text-white footer-link">Our campuses</a>
                        </li>
                        <li>
                            <a href="http://www.library.auckland.ac.nz/" class="text-white footer-link">Libraries and
                                Learning Services</a>
                        </li>
                        <li>
                            <a href="https://www.auckland.ac.nz/en/about/learning-and-teaching.html"
                               class="text-white footer-link">Learning and teaching</a>
                        </li>
                        <li>
                            <a href="https://www.auckland.ac.nz/en/study/study-options/find-a-study-option.html"
                               class="text-white footer-link">Find a study option</a>
                        </li>
                        <li>
                            <a href="https://profiles.auckland.ac.nz/" class="text-white footer-link">Our people</a>
                        </li>
                        <li>
                            <a href="https://www.calendar.auckland.ac.nz/en.html" class="text-white footer-link">University
                                Calendar</a>
                        </li>
                        <li>
                            <a href="https://www.auckland.ac.nz/en/about/careers-at-auckland.html"
                               class="text-white footer-link">Careers at the University</a>
                        </li>
                        <li>
                            <a href="http://www.uniservices.co.nz/" class="text-white footer-link">UniServices</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 list-links">
                    <h5 class="footer-title">Help & support</h5>
                    <ul class="list-unstyled mb-0 footer-links">
                        <li>
                            <a href="https://www.auckland.ac.nz/en/about/the-university/uoa-contact-us.html"
                               class="text-white footer-link">Contact us</a>
                        </li>
                        <li>
                            <a href="https://uoa.custhelp.com/" class="text-white footer-link">AskAuckland</a>
                        </li>
                        <li>
                            <a href="https://www.auckland.ac.nz/en/on-campus/emergencies-and-safety-on-campus.html"
                               class="text-white footer-link">Emergencies and safety on campus</a>
                        </li>
                        <li>
                            <a href="https://www.givingtoauckland.org.nz/en/Home.html" class="text-white footer-link">Donate
                                to the University</a>
                        </li>
                        <li>
                            <a href="https://www.auckland.ac.nz/en/students/complaints-and-incidents/complaints.html"
                               class="text-white footer-link">Complaints</a>
                        </li>
                        <li>
                            <a href="mailto:feedback@auckland.ac.nz" class="text-white footer-link">Provide feedback</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-image-link">
                    <div class="footer-image-area">
                        <img src="https://cdn.auckland.ac.nz/aem/content/auckland/en/jcr:content/footer/image.img.768.medium.jpg/1654563581874.jpg"
                             width="100%" height="auto" alt="University Clocktower">
                        <div class="footer-text-box">
                            <h2 class="image-message footer-box-header">New Zealand's world-ranked university</h2>
                            <button onclick="window.location = 'https://www.auckland.ac.nz/en/about-us/about-the-university/our-ranking-and-reputation.html'"
                                    class="card-button">Learn more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>