<nav class="dark-blue navbar navbar-expand-xxl navbar-dark">
    <div class="container-fluid">
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% load static %}
                    <a class="navbar-brand" href="/"><img src="{% static 'img/logo/logo2.png' %}" width="180"
                                                          height="50" class="d-inline-block align-top" alt=""></a>
                    <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#toggleMobileMenu"
                            aria-controls="toggleMobileMenu"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="navbar-a collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto text-center">
                <li>
                    <a class="nav-font hover-underline-animation" href="{% url 'news-list' %}">News</a>
                </li>
                <li>
                    <a class="nav-font hover-underline-animation" href="{% url 'event-list' %}">Events</a>
                <li>
                    <a class="nav-font hover-underline-animation" href="{% url 'staff-list' %}">Staff</a>
                </li>

                <li>
                    <a class="nav-font hover-underline-animation" href="{% url 'phd-list' %}">PhD Students</a>
                </li>

                <li>
                    <a class="nav-font hover-underline-animation" href="{% url 'projects-list' %}">Projects</a>
                </li>

            <li>
              <a class="nav-font hover-underline-animation" href="{% url 'gallery-list' %}">Galleries</a>
            </li>

            <li>
              <a class="nav-font hover-underline-animation" href="{% url 'resources-list' %}">Resources</a>
            </li>

                <li>
                    <a class="nav-font hover-underline-animation" href="{% url  'contact' %}">Contact</a>
                </li>

                {% if user.is_authenticated %}
                    <li>
                        <a class="nav-font hover-underline-animation" href="/admin">Admin</a>
                    </li>
                {% endif %}

                <li>
                    <button onclick="ShowAndHide()" class="nav-font search-nav"><img class="search-img"
                                                                                     src="{% static 'img/home/magnifying-glass.png' %}">
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>